/* dsdsa */
.wrapper {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}

.modal-content {
    padding: 20px 0 0 20px;
}
path {
    transition: all 0.3s ease-in-out;
}
button {
    outline: none;
    background-color: cornflowerblue;
    border: 1px solid lightblue;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
button:hover {
    color: black;
    background-color: antiquewhite;
}
